<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Finds your PC on this network and sends it your takes as you record them.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_gaussians._tcp</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.vkorytsko.gaussianscapture.pair</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gaussians</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
